.markdown-body {
  pre:has(code) {
    position: relative;
  }

  pre button.copy {
    position: absolute;
    right: 16px;
    top: 16px;
    height: 28px;
    width: 28px;
    padding: 0;
    display: flex;
    outline: none;
    border: none;
    background: none;
    & span {
      width: 100%;
      aspect-ratio: 1 / 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:hover {
      cursor: pointer;
    }
    & .ready {
      background-image: url('./icons/copy.svg');
    }

    & .success {
      display: none;
      // background-image: url('./icons/copy-success.svg');
      &::after {
        content: '已复制 !';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        font-size: 14px;
        line-height: 1;
        white-space: nowrap;

        border: 1px solid black;
        padding: 4px;
      }
    }

    &.copied {
      & .success {
        display: block;
      }

      & .ready {
        display: none;
      }
    }
  }
}
